.SkiPatrolInfoWrapper {
    background-color: whitesmoke;
    border: thin solid whitesmoke;
    border-radius: 30px;
    width: 600px;
    height: 180px;
    margin: -80px 0px 0px 40px;
    position: relative;   
}


.IframeSkiContainer {
    display: flex;
    
}

.IframeSki {
    margin-left: 20px;
    margin-top: 30px;
}
.cross {
    width: 30px;
    position: absolute;
    top:5px;
    right: 10px;
    cursor: pointer;
    
}

.cross:hover {
    transform: rotate(90deg);
    transition: all 0.4s;
    transition-property: all;
    transition-duration: 0.4s;
    transition-timing-function: ease;
    transition-delay: 0s;
}
.skiMenuItem {
    font-size: 20px;
    font-family: 'Playfair Display',sans-serif;
    margin: 5px 0px 5px 0px;
}