.guideInfoWrapper {
    background-color: whitesmoke;
   
    width: 650px;
    height: 220px;
    margin: -80px 0px 0px 50px;
    position: relative; 
    overflow: hidden; 
    z-index: 2;
}


.IframeSkiContainer {
    display: flex;
    
}

.IframeSki {
    margin-left: 100px;
    margin-top: 30px;
}
.cross {
    width: 20px;
    position: absolute;
    top:5px;
    right: 10px;
    cursor: pointer;
    
}

.cross:hover {
    transform: rotate(90deg);
    transition: all 0.4s;
    transition-property: all;
    transition-duration: 0.4s;
    transition-timing-function: ease;
    transition-delay: 0s;
}
.skiMenuItem {
    font-size: 20px;
    font-family: 'Playfair Display',sans-serif;
    margin: 15px 0px 10px 0px;
    list-style: none;
}
.skiMenuItem::before {
    content: "";
    width: 30px;
    height: 1px;
    background-color:  black;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
  }

  .summerIcon {
    position: absolute;
    top: 15px;
    left:270px;
    width: 40px;
}


.earthIcon {
  position: absolute;
  top: 60px;
  left:270px;
  width: 35px;
 
}
.kayakIcon {
  position: absolute;
  top: 90px;
  left:271px;
  width: 50px;
}
.raftingIcon {
  position: absolute;
  top: 130px;
  left:271px;
  width: 40px;
}
.rescueIcon {
  position: absolute;
  top: 170px;
  left:271px;
  width: 40px;
}