.headerWrapper {
    position: relative;
    width: 5rem;
    height: 100vh;
    white-space: normal;
    display: inline-block;
    vertical-align: top;
  }
 
  header {
    position: absolute;
    top: 50%;
    left: 80%;
    width: 100vh;
    z-index: 10;
    transform: translate3d(-50.5%,-50%,0) rotate(-90deg);
    
  }
  header[data-active='true'] {
    box-shadow: 0 2px 8px rgba(152,168,188,.2);
    display: none;
  }
  .headerSticky {
      background-color: rgb(199, 42, 42);
  }
  .headerMenu {
    padding: 0;
    list-style: none;
    border-bottom: 1px solid #aaa;
    font-size: .875rem;
    margin: 2.5rem;
  }
  .headerMenuitem {
    display: inline-block;
    position: relative;
    padding: 1.25rem 0;
    margin: 0 1.25rem;
    color: #1e1e1e;
  }
  .headerMenuItemTitle {
    position: absolute;
    top: 50%;
    right: 2.5rem;
    transform: translateY(-50%);
    width: 20rem;
    height: 2.5rem;
    display: block;
    color: #1e1e1e;
    font-size: 2rem;
    text-transform: uppercase;
  }
 