
.outerwrapper {
  width: 100vh;
  height: 4000px;
  
  position: relative;
  
}


.container {
  width: 100vh;
  height: 4000px;
  
  


  
}
.slide1 {
  width: 80vw;
  height: 100vh;
  /*background-image: url('../images/astronomy.jpg'); */
  
  
 
}

.title {
  font-size: 50px;
  font-family: 'Montserrat', sans-serif;
  width: 100%;
  text-align: center;

  color: pink;
  
  font-weight: bold;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  animation: fadein 8s;
  
  animation-duration: 8s;
  animation-name: myanim;
}
@keyframes myanim{
  0% { opacity:0; }
  66% { opacity:0; }
  100% { opacity:1; }
}


.logoSB {
  width: 40rem;
 
}

.knowmore {
  font-size: 40px;
  font-family: 'Montserrat', sans-serif;
  position: absolute;
  top: 20%;
  left: 3%;
  ;
  padding: 15px;
  color: #1e1e1e;
  
  z-index: 3;
  text-decoration: none;
  animation: fadein 1s;
  
  animation-duration: 1s;
  animation-name: myanim;
  
}

.knowmore:hover {
 
  background-color: rgba(24, 221, 195, 0.75);

}
.divisionLineWrapper {
  position: relative;
  width: 5rem;
  height: 100vh;
  white-space: normal;
  display: inline-block;
  vertical-align: top;
}

.divisionLine {
  position: absolute;
  top: 50%;
  left: 85%;
  width: 100vh;
  z-index: 10;
  transform: translate3d(-50.5%,-50%,0) rotate(-90deg);
  
}
.divisionLine[data-active='true'] {
  box-shadow: 0 2px 8px rgba(152,168,188,.2);
  display: none;
}

.divisionLineContaint {
  padding: 0;
  list-style: none;
  border-bottom: 1px solid #aaa;
  font-size: .875rem;
  margin: 2.5rem;
}


.divisionLineTitle {
  position: absolute;
  top: 30%;
  right: 1.5rem;
  transform: translateY(-50%);
  width: 20rem;
  height: 2.5rem;
  display: block;
  color: #1e1e1e;
  font-size: 2rem;
  text-transform: uppercase;
}
.slide2 {
  width: 60vw;
  height: 100vh;
  background-color:#EEEEEE;
  display: flex;
}


.intro {
  width: 350px;
  display: inline-block;
  vertical-align: top;
  padding: 2.5rem;
  white-space: normal;
  margin-left: 20px;
  margin-top: 50px;
  line-height: 1.5;
 
}

.introText {
  color: #aaa;
  font-size: 1.3rem;
}
.introLinesContainer1 {
  display: inline-block;
  width: 50vh;
  height: 2vh;
  position: absolute;
  top: -50px;
  left: 100%;
  font-size: 35vh;

}
.introLinesContainer2 {
  display: inline-block;
  width: 50vh;
  height: 100vh;
  position: absolute;
  top: 8%;
  left: 75%;
  font-size: 22vh;
}
.introLinesContainer3 {
  display: inline-block;
  width: 50vh;
  height: 100vh;
  vertical-align: top;
  position: absolute;
  top: 15%;
  left: 60%;
  font-size: 25vh;
}
.introLinesContainer4 {
  display: inline-block;
  width: 40vh;
  height: 100vh;
  vertical-align: top;
  position: absolute;
  top: 15%;
  left: 110%;
  font-size: 25vh;
}
.introLines {
  text-align: center;
  display: inline-block;
  text-transform: uppercase;
  width: 50vh;
  height: 4vh;

  

}
.slide3 {
  width: 40vw;
  height: 80vh;
  background-color: #FFFFFF;
  position: relative;
}
.sprite {
    display: block;
    height: 120%;
    width: 120%;
    color: black;
    position: absolute;
    top: 0%;
    left: 50%;
    z-index: 2;
    transform: rotate(90deg);
}

.why { 
  position: absolute;
  top: 48%;
  Left: 80%;
  font-size: 20px;
  width: 400px;

}
 

.hacker {
  
  left:0;
  top:0;
  height: 80%;
  width: 30%;
  z-index: 1;
  object-fit: cover;
  mix-blend-mode:lighten;
  
}
.stefPhoto2 {
  padding-top: 0px;
  height: 100%;
  width: 100%;
  z-index: 1;
  object-fit: cover;
  position: relative;
  
 
  
}
/*.stefPhoto2:hover {
  transform: translate3d(-16.5967px, 0px, 0px);
  transition-delay: .1s;
    transition-timing-function: cubic-bezier(.215,.61,.355,1);
  transition-duration: 1s;
  position: relative;
  z-index: 1;

}*/
.stefPhotosContainer {
  position: relative;
  width: 1500px;
}
.hidePhoto {
  position: absolute;
  left:280px;
  top:240px;
  height: 35%;
  width: 40%;
  z-index: 6;
  object-fit: cover;
  cursor: pointer;
}

.slide4 {
  width: 14vw;
  height: 100vh;
  background-color: #EEEEEE ;
  position: relative;
  
  
}

.railwrapper1 {
  position: relative;
  width: 100vh;
  height: 20vh;
  white-space: normal;
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
  

}


.railtext {
  position: absolute;
  top: 50%;
  left: 0%;
  width: 100vh;
  z-index: 10;
  font-size: 12.5rem;
  animation: railwrapper1 10s linear infinite;

}
@keyframes railwrapper1 {
  0% {
    transform: translate(0, 0) ;
   
  }
  100% {
    transform: translate(-100vh, 0) ;
    
  }
}


.stefVideo {
  position:absolute;
  left:0;
  top:0;
  height: 80%;
  width: 5%;
  object-fit: cover;
  

}

.textPresentation {
  width: 860px;
  height: 600px;
  background-color: rgb(18, 172, 164);
  position: absolute;
  top: 1100px;
  right:0;

}