
.outerwrapper {
  width: 100vh;
  height: 4000px;
  transform: rotate(-90deg)translateX(-100vh);
  transform-origin: top left;
  overflow: scroll;
 
  position: absolute;
  display: block;
  scrollbar-width: none;
  -ms-overflow-style: none;
  
 
}
::-webkit-scrollbar {
  display: none;
}
.container {
  width: 700vw;
  height: 1100px;
  display: flex;
  flex-direction: row;
 
  
  transform: rotate(90deg) translateY(-100vh);
  transform-origin: top left;


  
}
.slide1 {
  width: 142vw;
  height: 100vh;
  
}

.title {
  font-size: 50px;
  font-family: 'Montserrat', sans-serif;
  width: 100%;
  text-align: center;

  color: pink;
  
  font-weight: bold;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  animation: fadein 8s;
  
  animation-duration: 8s;
  animation-name: myanim;
}
@keyframes myanim{
  0% { opacity:0; }
  66% { opacity:0; }
  100% { opacity:1; }
}

.knowmore {
  font-size: 40px;
  font-family: 'Montserrat', sans-serif;
  position: absolute;
  top: 75%;
  left: 3%;
  padding: 15px;
  color: #1e1e1e;
  z-index: 3;
  text-decoration: none;
  animation: fadein 1s;
  transition: color 0.25s;
  
}
.knowmore:before {
  content:'';
  position: absolute;
  top: 0;
  left: 0;
  background: transparent;
  border: 2px solid transparent;
}
.knowmore:hover:before {
  animation: animate 1s linear forwards;
}
@keyframes animate 
{
  0% {
    width: 0;
    height:0;
  border-top-color: #262626;
border-right-color: transparent; 
border-bottom-color: transparent;
border-left-color: transparent; }

50% {
  width: 100%;
  height:0;
border-top-color: #262626;
border-right-color:  #262626; 
border-bottom-color: transparent;
border-left-color: transparent;
}
100% {
  width: 100%;
  height:100%;
border-top-color:  #262626;
border-right-color:  #262626; 
border-bottom-color: transparent;
border-left-color: transparent;
}
}
.knowmore:after {
  content:'';
  position: absolute;
  top: 0;
  left: 0;
  background: transparent;
  border: 2px solid transparent;
}
.knowmore:hover:after {
  animation: animate2 1s linear forwards;
  animation-delay: 1s;
}
@keyframes animate2 
{
  0% {
    width: 0;
    height:0;
  border-top-color: transparent;
border-right-color: transparent; 
border-bottom-color: transparent;
border-left-color: #262626; }

50% {
  width: 0%;
  height:100%;
border-top-color: transparent;
border-right-color: transparent; 
border-bottom-color:#262626; 
border-left-color: #262626;
}
100% {
  width: 100%;
  height:100%;
border-top-color:  transparent;
border-right-color: transparent ; 
border-bottom-color: #262626;
border-left-color: #262626;
}
}

.headerWrapper {
  position: relative;
  top: 0;
  width: 5rem;
  height: 100vh;
  white-space: normal;
  display: inline-block;
  background-color: #fff;
  vertical-align: top;
  z-index: 100;
  
}

header {
  position: absolute;
  
  top: 50%;
  left: 80%;
  width: 100vh;
  z-index: 10;
  transform:  translate3d(-50.5%,-50%,0) rotate(-90deg);
  
}


.headerMenu {
  padding: 0;
  list-style: none;
  border-bottom: 1px solid #aaa;
  font-size: .875rem;
  margin: 2.5rem;
  z-index: 100;
}
.headerMenuitem {
  display: inline-block;
  position: relative;
  padding: 1.25rem 0;
  margin: 0 1.25rem;
  color: #1e1e1e;
}
.headerMenuItemTitle {
  position: absolute;
  top: 50%;
  right: 2.5rem;
  transform: translateY(-50%);
  width: 20rem;
  height: 2.5rem;
  display: block;
  color: #1e1e1e;
  font-size: 2rem;
  text-transform: uppercase;
}

.headerWrapperSticky {
  position: absolute;
  top: 0;
  width: 5rem;
  height: 100vh;
  white-space: normal;
 
  background-color: #fff;
  vertical-align: top;
  z-index: 100;
  

}
.headerSticky {
  position: absolute;
  background-color: #fff;
  top: 50%;
  left: 80%;
  width: 100vh;
  z-index: 10;
  transform:  translate3d(-50.5%,-50%,0) rotate(-90deg);
  
}


.headerMenuSticky {
  padding: 0;
  height: 2.7rem;
  list-style: none;
  background-color: #fff;
  border-bottom: 1px solid #aaa;
  font-size: .875rem;
  margin: 2.5rem;
  z-index: 100;
}
.headerMenuitemSticky {
  display: inline-block; 
  position: relative;
  padding: 1.25rem 0;
  margin: 0 1.25rem;
  color: #1e1e1e;
}
.headerMenuItemTitleSticky {
  position: absolute;
  top: 50%;
  right: 2.5rem;
  transform: translateY(-50%);
  width: 20rem;
  height: 2.5rem;
  display: block;
  color: #1e1e1e;
  font-size: 2rem;
  text-transform: uppercase;
}

.slide2 {
  width: 60vw;
  height: 100vh;
  background-color:#EEEEEE;
}


.intro {
  width: 350px;
  display: inline-block;
  vertical-align: top;
  padding: 2.5rem;
  white-space: normal;
  margin-left: 20px;
  line-height: 1.5;
 
}

.introText {
  color: #aaa;
  font-size: 1.3rem;
}
.introLinesContainer1 {
  display: inline-block;
  width: 50vh;
  height: 100vh;
  vertical-align: top;
  position: absolute;
  top: 80px;
  left: 1400px;

}
.introLinesContainer2 {
  display: inline-block;
  width: 150vh;
  height: 100vh;
  position: absolute;
  top: 30%;
  left: 1100px;
}
.introLinesContainer3 {
  display: inline-block;
  width: 150vh;
  height: 100vh;
  vertical-align: top;
  position: absolute;
  top: 55%;
  left: 1000px;
}
.introLinesContainer4 {
  display: inline-block;
  width: 150vh;
  height: 100vh;
  vertical-align: top;
  position: absolute;
  top: 55%;
  left: 1400px;
}
.introLines {
  text-align: center;
  height: 33.33333vh;
  line-height: .9;
  display: inline-block;
  text-transform: uppercase;
  font-size: 25vh;
  transform: translate3d(-0.0688912px, 0px, 0px);
  transition: transform 1.4s cubic-bezier(.165,.84,.44,1);

}
.slide3 {
  width: 30vw;
  height: 100vh;
  background-color:#EEEEEE;
  position: relative;
}
.sprite {
    display: block;
    height: 100%;
    width: 100%;
    color: black;
    position: absolute;
    top: 5%;
    left: -20%;
    z-index: 2;
    
}

.why { 
  position: absolute;
  top: 48%;
  Left: 2%;
  font-size: 20px;

}
.transparentDiv {
  
  width: 30000px;
  height: 1000px;
  position: absolute;
  top: 0;

}
.about { 
  position: absolute;
  top: 60%;
  Left: 80%;
  font-size: 20px;

 

}
.aboutLine { 
  position: absolute;
  top: 80%;
  Left: 85%;
  font-size: 20px;
  width: 250px;
  height: 1px;
  background-color: black;
  transform:  translate3d(-50.5%,-50%,0) rotate(-90deg);
  


}
.hacker {
  
  left:0;
  top:0;
  height: 80%;
  width: 30%;
  z-index: 1;
  object-fit: cover;
  mix-blend-mode:lighten;
  
}
.stefPhoto2 {
  padding-top: 80px;
  height: 100%;
  width: 80%;
  z-index: 1;
  object-fit: cover;
  position: relative;
  
 
  
}
/*.stefPhoto2:hover {
  transform: translate3d(-16.5967px, 0px, 0px);
  transition-delay: .1s;
    transition-timing-function: cubic-bezier(.215,.61,.355,1);
  transition-duration: 1s;
  position: relative;
  z-index: 1;

}*/
.stefPhotosContainer {
  position: relative;
  width: 1500px;
}
.hidePhoto {
  position: absolute;
  left:450px;
  top:240px;
  height: 35%;
  width: 25%;
  z-index: 6;
  object-fit: cover;
  cursor: pointer;
}

.slide4 {
  width: 14vw;
  height: 100vh;
  background-color: #FFFFFF ;
  position: relative;
  
  
}

.railwrapper1 {
  position: relative;
  width: 5rem;
  height: 100vh;
  white-space: normal;
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
  transform: translate3d(-50.5%,-50%,0) rotate(270deg);

}


.railtext {
  position: absolute;
  top: 50%;
  left: -1170%;
  width: 100vh;
  z-index: 10;
  font-size: 11rem;
  display: inline-block;
  /*animation: railwrapper1 30s linear infinite;*/

}
@keyframes railwrapper1 {
  0% {
    transform: translate(0, 0) ;
   
  }
  100% {
    transform: translate(-300%, 0) ;
    
  }
}

.slide5 {
  width: 40vw;
  height: 80vh;
  margin-top: 100px;
  border-left: 2px solid #D7D7D7;
  border-right:  2px solid #D7D7D7;
  background-color: #FFFFFF;
  position: relative;
}
.thingsTitle {
  font-family: 'Playfair Display', serif;;
  font-weight: 400;
  font-size: 70px;
  margin-left: 80px;
  display: inline-block;
  height: 40px;

}
.thingsTitle::after {
  content: "";
  width: 90px;
  height: 1px;
  background-color: black;
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
}
.slide6 {
  width: 36vw;
  height: 100vh;
  margin-top: 0px;
  border-right:  2px solid #D7D7D7;
  background-color: #FFFFFF;
  position: relative;
  
}

.experienceTitle {
  font-family: 'Playfair Display', serif;;
  font-weight: 400;
  font-size: 60px;
  margin-left: 20px;
  margin-top: 120px;
  color: #222222;
  display: block;
  height: 70px;
  
  text-decoration: none;
}
.experienceTitle::before {
  content: "" ;
  width: 50px;
  height: 1px;
  background-color: currentColor;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}
.experienceTitle:hover::before {
  color: #FFFFFF;

  
}
.experienceTitle:hover {
  color: #FFFFFF;

  
}
.studiesTitle {
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  font-size: 60px;
  margin-left: 20px;
  margin-top: 0px;
  height: 70px;
  display: block;
  color: #222222;
  text-decoration: none;
  
}
.studiesTitle::before {
  content: "" ;
  width: 50px;
  height: 1px;
  background-color: currentColor;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}
.studiesTitle:hover::before {
  color: #FFFFFF;}

.studiesTitle:hover {
  color: #FFFFFF;

}
.skillsTitle {
  font-family: 'Playfair Display', serif;;
  font-weight: 400;
  font-size: 60px;
  margin-left: 20px;
  margin-top: 0px;
  height: 70px;
  display: block;
  color: #222222;
  text-decoration: none;
}

.skillsTitle::before {
  content: "";
  width: 50px;
  height: 1px;
  background-color: currentColor;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}
.skillsTitle:hover::before {
  color: #FFFFFF;}

.skillsTitle:hover {
  color: #FFFFFF;

}
.workTitle {
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  font-size: 60px;
  margin-left: 20px;
  margin-top: 0px;
  display: block;
  height: 70px;
  color: #222222;
  text-decoration: none;
}
.workTitle::before {
  content: "";
  width: 50px;
  height: 1px;
  background-color: currentColor;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}
.workTitle:hover::before {
  color: #FFFFFF;}

.workTitle:hover {
  color: #FFFFFF;

}

.experienceText {
  width: 400px;
  height: 200px;
  margin-left: 80px;
  

}
.pisteurContainer {
  width: 500px;
  height: 800px;
  margin: 0 auto;
  margin-top: 40px;
}
.pisteur {
  width: 600px;
  height: 500px;
  object-fit: cover;
  margin: 0 auto;
  margin-top: 40px;
  
}

.kayak {
  width: 300px;
  height: auto;
  position: absolute;
  top: 300px;
  left: 80px;
  display: block;
  margin: 0 auto;
}

.line4 {
  width: 50px;
  height: 1px;
  background-color: black;
  position: absolute;
  top: 510px;
  left: 15px;
}

.slide7 {
  width: 56.2vw;
  height: 100vh;
  margin-top: 0px;
  border-right:  2px solid #D7D7D7;
  background-color: #EEEEEE;
  position: relative;
}
.experienceTitleContainer {
  background-color: #1e1e1e;
  border-radius: 50%;
  width: 13.5rem;
  height: 200px;
  color: #1e1e1e;
  z-index: 10;
  position: absolute;
  top: 40px;
  left: 20px;
}


.pastexperiences {
  color: whitesmoke;
  position: absolute;
  top: 78px;
  left: 40px;
  z-index:11;
  font-family: 'Playfair Display',sans-serif;
  font-size: 25px;
}

.experiences {
  color: whitesmoke;
  position: absolute;
  top: 100px;
  left: 40px;
  z-index:11;
  font-family: 'Playfair Display',sans-serif;
  font-size: 25px;
}

.experiencesTextContainer {
  width: 70rem;
  height: 40rem;
  position: absolute;
  top: 30vh;
  left: 50px;
}
.presentationContainer {
  width: 220px;
  height: 300px;
  background-color: whitesmoke;
  box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12)
;
  position: absolute;
  top:160px;
  left: 500px;
  font-family: 'Playfair Display',sans-serif;
  font-size: 20px;
  padding-left: 15px;
}
.skiPatrolWrapper {
  display: flex;
  flex-direction: row;
  width: 1200px;
}
.kayakerWrapper {
  display: flex;
  flex-direction: row;
  width: 1200px;
}
.travelerWrapper {
  display: flex;
  flex-direction: row;
  width: 1200px;
}
.skipatrol {
font-size: 40px;
font-family: 'Playfair Display',sans-serif;
margin-bottom: 190px;
cursor: pointer;
width: 400px;
}
.skipatrol::before {
  content: "";
  width: 50px;
  height: 1px;
  background-color:  black;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}


.question {
  width: 40px;
  height: auto;
  margin: -185px 0px 0px -110px;
  fill: black;
  cursor: pointer;
  
}

.question:hover {
 
  fill: rgb(43, 107, 99);
  
}
.kayaker {
  font-size: 40px;
  font-family: 'Playfair Display',sans-serif;
  margin-bottom: 180px;
  cursor: pointer;
  width: 400px;
}
.kayaker::before {
  content: "";
  width: 50px;
  height: 1px;
  background-color:  black;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}
.kayaker:hover {
  color: rgb(118, 181, 190);
}


.traveler {
  font-size: 40px;
  font-family: 'Playfair Display',sans-serif;
  margin-bottom: 180px;
  cursor: pointer;
  width: 400px;
}
.traveler::before {
  content: "";
  width: 50px;
  height: 1px;
  background-color:  black;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  
}


.clock {
  width: 650px;
  height: 1200px;
  margin-top: 0px;
  margin-left: 430px;
  background-image: url('../images/clock.jpg');
  position: relative;
  z-index:1 ;
}
.clock:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(30,30,30,.9);
  z-index:1 ;
}
.slide8 {
  width: 60vw;
  height: 100vh;
  margin-top: 0px;
  border-right:  2px solid #D7D7D7;
  background-color: #FFFFFF;
  position: relative;
}
.cockpit {
  position: absolute;
  top:60px;
  left: 0px;
  z-index: 1;

}

.logoOclock {
  position: absolute;
  top:250px;
  left: 450px;
  width: 100px;
  z-index: 2;
}
.languages {
  position: absolute;
  top:250px;
  left: 450px;
  width: 400px;
  z-index: 1;
}

.studiesTitleContainer {
  background-color: #1e1e1e;
  border-radius: 50%;
  width: 13.5rem;
  height: 200px;
  color: #1e1e1e;
  z-index: 10;
  position: absolute;
  top: 30px;
  left: 500px;
}

.studies {
  color: whitesmoke;
  position: absolute;
  top: 90px;
  left: 550px;
  z-index:11;
  font-family: 'Playfair Display',sans-serif;
  font-size: 25px;
}
.studiesContainer {
  width: 1000px;
  height: 450px;
  background-color: whitesmoke;
  position: absolute;
  top: 500px;
  left: 60px;
  box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12);
  padding: 15px;
  font-family: 'Playfair Display',sans-serif;
  font-size: 18px;
  

}
.slide9 {
  width: 60vw;
  height: 100vh;
  margin-top: 0px;
  border-right:  2px solid #D7D7D7;
  background-color: #EEEEEE;;
  position: relative;
}

.competencesContainer {
  width: 800px;
  height: 800px;
  background-color: whitesmoke;
  box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12);
  margin-top: 100px;
  margin-left:auto;
  margin-right: auto;
  padding: 20px;
  display: flex;
}

.competencesText{
  margin-left: 80px;
  font-family: 'Playfair Display',sans-serif;
  font-size: 18px;

}

.html {
  width: 100px;
  margin-left: 50px;

}
.css {
  width: 100px;
  margin-left: 50px;
  margin-top: 40px;
}

.php {
  width: 100px;
  margin-left: 50px;
  margin-top: 40px;
}
.sql {
  width: 100px;
  margin-left: 50px;
  margin-top: 40px;
}

.js {
  width: 100px;
  margin-left: 50px;
  margin-top: 40px;
}

.languagesContainer {
  display: flex;
  flex-direction: column;
}

.frameworkContainer {
  display: flex;
  flex-direction: column;
}

.react {
  width: 200px;
  margin-left: 50px;
}
.laravel {
  width: 200px;
  margin-left: 50px;
  margin-top: 40px;
}

.bootstrap {
  width: 120px;
  margin-left: 80px;
  margin-top: 40px;
}
.wordpress {
  width: 100px;
  margin-left: 50px;
  margin-top: 0px;
}
.redux{
  width: 100px;
  margin-left: 50px;
  margin-top: 40px;
}
.git {
  width: 100px;
  margin-left: 50px;
  margin-top: 40px;
}