
.outerwrapper {
  width: 100vh;
  height: 4000px;
  transform: rotate(-90deg)translateX(-100vh);
  transform-origin: top left;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display: none;
}
.container {
  width: 100vh;
  height: 1100px;
  display: flex;
  flex-direction: row;
  width: 400vw;
  transform: rotate(90deg) translateY(-100vh);
  transform-origin: top left;


  
}
.slide1 {
  width: 110vw;
  height: 100vh;
  /*background-image: url('../images/astronomy.jpg'); */
  
  
 
}

.title {
  font-size: 50px;
  font-family: 'Montserrat', sans-serif;
  width: 100%;
  text-align: center;

  color: pink;
  
  font-weight: bold;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  animation: fadein 8s;
  
  animation-duration: 8s;
  animation-name: myanim;
}
@keyframes myanim{
  0% { opacity:0; }
  66% { opacity:0; }
  100% { opacity:1; }
}


.logoSB {
  width: 40rem;
 
}

.knowmore {
  font-size: 40px;
  font-family: 'Montserrat', sans-serif;
  position: absolute;
  top: 75%;
  left: 3%;
  ;
  padding: 15px;
  color: #1e1e1e;
  
  z-index: 3;
  text-decoration: none;
  animation: fadein 1s;
  
  animation-duration: 1s;
  animation-name: myanim;
  
}

.knowmore:hover {
 
  background-color: rgba(24, 221, 195, 0.75);

}

.slide2 {
  width: 60vw;
  height: 100vh;
  background-color:#EEEEEE;
}


.intro {
  width: 350px;
  display: inline-block;
  vertical-align: top;
  padding: 2.5rem;
  white-space: normal;
  margin-left: 20px;
  line-height: 1.5;
 
}

.introText {
  color: #aaa;
  font-size: 1.3rem;
}
.introLinesContainer1 {
  display: inline-block;
  width: 50vh;
  height: 100vh;
  vertical-align: top;
  position: absolute;
  top: 30px;
  left: 15%;

}
.introLinesContainer2 {
  display: inline-block;
  width: 150vh;
  height: 100vh;
  position: absolute;
  top: 30%;
  left: 10%;
}
.introLinesContainer3 {
  display: inline-block;
  width: 150vh;
  height: 100vh;
  vertical-align: top;
  position: absolute;
  top: 60%;
  left: 12%;
}
.introLinesContainer4 {
  display: inline-block;
  width: 150vh;
  height: 100vh;
  vertical-align: top;
  position: absolute;
  top: 60%;
  left: 19%;
}
.introLines {
  text-align: center;
  height: 33.33333vh;
  line-height: .9;
  display: inline-block;
  text-transform: uppercase;
  font-size: 30vh;
  transform: translate3d(-0.0688912px, 0px, 0px);
  transition: transform 1.4s cubic-bezier(.165,.84,.44,1);

}
.slide3 {
  width: 40vw;
  height: 100vh;
  background-color:#EEEEEE;
  position: relative;
}
.sprite {
    display: block;
    height: 100%;
    width: 100%;
    color: black;
    position: absolute;
    top: 5%;
    left: -10%;
    z-index: 2;
}

.why { 
  position: absolute;
  top: 48%;
  Left: 20%;
  font-size: 20px;

}
 

.hacker {
  
  left:0;
  top:0;
  height: 80%;
  width: 30%;
  z-index: 1;
  object-fit: cover;
  mix-blend-mode:lighten;
  
}
.stefPhoto2 {
  padding-top: 80px;
  height: 100%;
  width: 80%;
  z-index: 1;
  object-fit: cover;
  position: relative;
  
 
  
}
/*.stefPhoto2:hover {
  transform: translate3d(-16.5967px, 0px, 0px);
  transition-delay: .1s;
    transition-timing-function: cubic-bezier(.215,.61,.355,1);
  transition-duration: 1s;
  position: relative;
  z-index: 1;

}*/
.stefPhotosContainer {
  position: relative;
  width: 1500px;
}
.hidePhoto {
  position: absolute;
  left:520px;
  top:240px;
  height: 35%;
  width: 25%;
  z-index: 6;
  object-fit: cover;
  cursor: pointer;
}

.slide4 {
  width: 14vw;
  height: 100vh;
  background-color: #EEEEEE ;
  position: relative;
  
  
}

.railwrapper1 {
  position: relative;
  width: 5rem;
  height: 100vh;
  white-space: normal;
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
  transform: translate3d(-50.5%,-50%,0) rotate(-90deg);

}

.railwrapper2 {
  position: absolute;
  width: 5rem;
  height: 100vh;
  white-space: normal;
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
  transform: translate3d(-50.5%,-50%,0) rotate(-90deg);
  overflow: hidden;
}
.railtext {
  position: absolute;
  top: 50%;
  left: 80%;
  width: 100vh;
  z-index: 10;
  font-size: 12.5rem;
  animation: railwrapper1 20s linear infinite;

}
@keyframes railwrapper1 {
  0% {
    transform: translate(0, 0) ;
   
  }
  100% {
    transform: translate(-300%, 0) ;
    
  }
}


.stefVideo {
  position:absolute;
  left:0;
  top:0;
  height: 80%;
  width: 5%;
  object-fit: cover;
  

}

.textPresentation {
  width: 860px;
  height: 600px;
  background-color: rgb(18, 172, 164);
  position: absolute;
  top: 1100px;
  right:0;

}